-# = render partial: "layouts/header"
.body
  .slick_bar
    .slick_bar__left
      .slick_bar__left__button
        <
    .slick_bar__right
      .slick_bar__right__button
        > 
  .content
    .content__category
      .content__category__title
        人気のカテゴリー
      .content__category__contents1
        レディース
      .content__category__contents2
        メンズ
      .content__category__contents3
        家電・スマホ・カメラ
      .content__category__contents4
        おもちゃ・ホビー・グッズ
      .content__category__lists
    .content__brand
      .content__brand__title
      .content__brand__contents
      .content__brand__lists