.body {
  padding-top: 100px;
  overflow: scroll;
  .slick_bar {
    height: 390px;
    width: 100%;
    background-color: gray;
    box-sizing: border-box;
    &__left {
      height: 46px;
      width: 91px;
      float: left;
      line-height: 390px;
      &__button {
        text-align: right;
        font-size: 46px;
        color: white;
      }
    }
    &__right {
      margin: 0 0 0 auto;
      height: 46px;
      width: 91px;
      line-height: 390px;
      &__button {
        font-size: 46px;
        color: white;
      }
    }
  }
  .content {
    .category {
      &__top {
        padding-top: 56px;
        margin-bottom: 30px;
        &__title {
          height: 39px;
          width: 100%;
          text-align: center;
          font-size: 28px;
          font-weight: bold;
          color: rgb(51, 51, 51);
        }
        &__contents {
          padding-top: 16px;
          text-align: center;
          height: 40px;
          box-sizing: border-box;
          width: 100%;
          font-weight: bold;
          color: rgb(51, 51, 51);
          padding-left: calc(50vw - 287.54px);
          &__rank1 {
            float: left;
            height: 30px;
            width: 100.89px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            border-radius: 15px;
          }
          &__rank2 {
            float: left;
            height: 30px;
            width: 74px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            margin-left: 10px;
            border-radius: 15px;
          }
          &__rank3 {
            float: left;
            height: 30px;
            width: 172px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            margin-left: 10px;
            border-radius: 15px;
          }
          &__rank4 {
            float: left;
            height: 30px;
            width: 198.19px;
            background-color: rgb(245, 245, 245);
            font-size: 14px;
            line-height: 30px;
            margin-left: 10px;
            border-radius: 15px;
          }
        }
      }
      &__new-items {
        background-color: rgb(245, 245, 245);
        height: 573px;
        width: 100%;
      }
    }
  }
}